 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     min-height: 100vh;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* background-image: url(/img/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
 }

 nav {
     /* margin: 5px; */
     border-radius: 5px;
     background-color: skyblue;
     box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
     z-index: 0;
 }

 header {
     position: fixed;
     left: 0;
     width: 100%;
     z-index: 1000;
     box-shadow: inset;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

 nav ul {
     width: 100%;
     list-style: none;
     display: flex;
     justify-content: flex-end;
     align-items: center;
 }

 nav li {
     height: 50px;
     margin-right: 35px;
     z-index: 0;
 }

 .moon {
     margin-right: 60px;
     cursor: pointer;
 }

 .moon:hover {
     background-color: black;
     border-radius: 30px;

 }

 nav a {
     height: 100%;
     padding: 0 20px;
     text-decoration: none;
     display: flex;
     align-items: center;
     color: black;
 }

 nav a:hover {
     background-color: lightslategray;
     border-radius: 40px;
 }

 nav li:first-child {
     margin-right: auto;
     margin-top: 25px;
     margin-left: 60px;

 }


 .sidebar {
     position: fixed;
     top: 0;
     height: 0;
     height: 100vh;
     width: 250px;
     z-index: 999;
     background-color: rgba(255, 255, 255, 0.2);
     backdrop-filter: blur(10px);
     box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
     display: none;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
 }

 .sidebar li {
     width: 100%;
 }


 .menu-button {
     display: none;
 }

 /* ==================Section================= */
 section {
     min-height: 120vh;
     padding-top: 80px;
 }

 @media(max-width:800px) {
     .hideOnMobile {
         display: none;

     }

     .menu-button {
         display: block;
     }
 }

 @media(max-width:400px) {
     .sidebar {
         width: 100%;
     }
 }




 /* =================================About================================ */
 .about-Section {
    background-color: pink;
    min-height: 90vh;
    position: relative;

}

.about-Section h2 {
    font-family: "Poppins", sans-serif;

    right: 50%;
    color: blue;
    position: absolute;
}


 .about-text {
    font-family: "Poppins", sans-serif;
    font-weight: 450;
    margin-right: 40%;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-left: 4%;
    padding-right: 10%;

}

.feature-img {
   top: 25%;
   position: absolute;
   margin-right: 4%;
    width: 530px;
   right: 1px;
   border-radius: 10%;
}