 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     min-height: 100vh;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* background-image: url(/img/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
 }

 nav {
     /* margin: 5px; */
     border-radius: 5px;
     background-color: skyblue;
     box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
     z-index: 0;
 }

 header {
     position: fixed;
     left: 0;
     width: 100%;
     z-index: 1000;
     box-shadow: inset;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

 nav ul {
     width: 100%;
     list-style: none;
     display: flex;
     justify-content: flex-end;
     align-items: center;
 }

 nav li {
     height: 50px;
     margin-right: 35px;
     z-index: 0;
 }

 .moon {
     margin-right: 60px;
     cursor: pointer;
 }

 .moon:hover {
     background-color: black;
     border-radius: 30px;

 }

 nav a {
     height: 100%;
     padding: 0 20px;
     text-decoration: none;
     display: flex;
     align-items: center;
     color: black;
 }

 nav a:hover {
     background-color: lightslategray;
     border-radius: 40px;
 }

 nav li:first-child {
     margin-right: auto;
     margin-top: 25px;
     margin-left: 60px;

 }


 .sidebar {
     position: fixed;
     top: 0;
     height: 0;
     height: 100vh;
     width: 250px;
     z-index: 999;
     background-color: rgba(255, 255, 255, 0.2);
     backdrop-filter: blur(10px);
     box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
     display: none;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
 }

 .sidebar li {
     width: 100%;
 }


 .menu-button {
     display: none;
 }

 /* ==================Section================= */
 section {
     min-height: 120vh;
     padding-top: 80px;
 }

 @media(max-width:800px) {
     .hideOnMobile {
         display: none;

     }

     .menu-button {
         display: block;
     }
 }

 @media(max-width:400px) {
     .sidebar {
         width: 100%;
     }
 }




 /* =================================About================================ */
 .about-Section {
     background-color: pink;
     min-height: 100vh;
     position: relative;

 }

 .about-Section h2 {
     font-family: "Poppins", sans-serif;
     font-weight: 500;
     font-size: 40px;
     right: 40%;
     color: blue;
     position: absolute;
 }

 .about-text {
     color: black;
     padding-top: 30px;
     font-family: "Poppins", sans-serif;
     font-weight: 500px;
     margin-right: 40%;
     justify-content: center;
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top: 80px;
     padding-left: 4%;
     padding-right: 10%;

 }

 .feature-img {
     top: 30%;
     position: absolute;
     margin-right: 4%;
     width: 550px;
     right: 1px;
     border-radius: 10%;
 }

 .about-text b {
     color: blue;
 }




 /* ==============================Gallery_section================= */

 .work__container img {
     width: 320px;

 }

 /* =================================Blog===================== */
 .container h1 {
     position: relative;
     align-content: center;
     /* top: 50%; */
     /* left: 50%; */
     transform: translate(-50% -50%);
     font-size: 100px;
     font-weight: 600;
     letter-spacing: 3px;
 }



 /* ============================================Projects================================================ */


 .Work_Section body{
    min-height: 100vh;
    display:flex ;
    align-items: center;
    justify-content: center;
    background-color: #efefef;

 }
 .slide_container{
    min-width: 1120px;
    width: 100%;
    background-color: grey;
    padding: 40px;



 }


 .card_image{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 3px;
 }
 .card_image .card_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 4px solid #4070F4;
    border-radius:40px;
 }
 .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
 }

 .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
 }

 .card{
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
 }
 .slide_content{
    margin: 0 40px;
 }

 .image_content,
 .card_content
 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

 }

 .image_content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
    row-gap: 5px;
 }
 .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
    border-radius: 25px 25px 0 25px;
 }
 .overlay::before,
 .overlay::after{
    content: '';
    position: absolute;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
 }
 .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
 }

 .button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    margin: 14px;
    background-color: #4070F4;
    border-radius: 6px ;
    cursor: pointer;
    transition: all 0.3s ease;
 }
 
 .button:hover{
    background-color: #265df2;
 }




/* 
 /* ===============================================Gallery====================================================== */


 General Styles
.container-gallery {
    text-align: center;
    margin-bottom: 2rem;
}

/* Sticky Section */
/* 
.sticky-parents {
    height: 400vh; 
    position: relative;
    overflow: hidden;
}

.sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-section {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
}

.scroll-section img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-right: 20px;
    object-fit: cover;
} */
